.table{
    padding: 30px;
    width: 20vw;
    border-collapse: collapse;

}
.table td, th{
    border: none;
}

.tableScroll{
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 50px;
}


.tableScroll.-webkit-scrollbar{
    color: #718042;
}



  